# Add generic symbolic links for CDROMs and DVDs.
KERNEL=="hd[a-z]" , PROGRAM=="/etc/udev/scripts.d/mm_cdrom_check %k"                , SYMLINK+="cdrom%e"
KERNEL=="sr[0-9]*", PROGRAM=="/etc/udev/scripts.d/mm_cdrom_check %k"                , SYMLINK+="cdrom%e"

KERNEL=="hd[a-z]" , PROGRAM=="/etc/udev/scripts.d/mm_cdrom_check %k 'CD-R CD-RW'"   , SYMLINK+="cdrecorder%e"
KERNEL=="sr[0-9]*", PROGRAM=="/etc/udev/scripts.d/mm_cdrom_check %k 'CD-R CD-RW'"   , SYMLINK+="cdrecorder%e"

KERNEL=="hd[a-z]" , PROGRAM=="/etc/udev/scripts.d/mm_cdrom_check %k 'DVD'"          , SYMLINK+="dvd%e"
KERNEL=="sr[0-9]*", PROGRAM=="/etc/udev/scripts.d/mm_cdrom_check %k 'DVD'"          , SYMLINK+="dvd%e"

KERNEL=="hd[a-z]" , PROGRAM=="/etc/udev/scripts.d/mm_cdrom_check %k 'DVD-R DVD-RAM'", SYMLINK+="dvdrecorder%e"
KERNEL=="sr[0-9]*", PROGRAM=="/etc/udev/scripts.d/mm_cdrom_check %k 'DVD-R DVD-RAM'", SYMLINK+="dvdrecorder%e"

# Add label based symbolic link for USB hard drives and flash drives.
KERNEL=="sd[a-z]*", PROGRAM=="/sbin/vol_id -l %N"                              , SYMLINK+="%c"

# Create/delete the mount points and (in some cases) mount/unmount the devices.
KERNEL=="hd[a-z]*", ACTION=="add"   , RUN+="/etc/udev/scripts.d/mm_mountpoint_make %k add"
KERNEL=="hd[a-z]*", ACTION=="remove", RUN+="/etc/udev/scripts.d/mm_mountpoint_make %k remove"

KERNEL=="sd[a-z]*", ACTION=="add"   , RUN+="/etc/udev/scripts.d/mm_mountpoint_make %k add"
KERNEL=="sd[a-z]*", ACTION=="remove", RUN+="/etc/udev/scripts.d/mm_mountpoint_make %k remove"

KERNEL=="sr[0-9]*", ACTION=="add"   , RUN+="/etc/udev/scripts.d/mm_mountpoint_make %k add"
KERNEL=="sr[0-9]*", ACTION=="remove", RUN+="/etc/udev/scripts.d/mm_mountpoint_make %k remove"
