# DRI devices always go into a subdirectory (as per the LSB spec)
KERNEL=="card*",		NAME="dri/card%n"

# alsa devices
KERNEL=="controlC[0-9]*",	NAME="snd/%k"
KERNEL=="hw[CD0-9]*",		NAME="snd/%k"
KERNEL=="pcm[CD0-9cp]*",	NAME="snd/%k"
KERNEL=="midiC[D0-9]*",		NAME="snd/%k"
KERNEL=="timer",		NAME="snd/%k"
KERNEL=="seq",			NAME="snd/%k"

# input devices
KERNEL=="mice",			NAME="input/%k"
KERNEL=="mouse*",		NAME="input/%k"
KERNEL=="event*",		NAME="input/%k"
KERNEL=="js*",			NAME="input/%k"
KERNEL=="ts*",			NAME="input/%k"

# USB devices
KERNEL=="hiddev*",		NAME="usb/%k"
KERNEL=="auer*",		NAME="usb/%k"
KERNEL=="legousbtower*",	NAME="usb/%k"
KERNEL=="dabusb*",		NAME="usb/%k"
BUS=="usb", KERNEL=="lp[0-9]*",	NAME="usb/%k"

# CAPI devices
KERNEL=="capi",			NAME="capi20", SYMLINK+="isdn/capi20"
KERNEL=="capi*",		NAME="capi/%n"

# Network devices
KERNEL=="tun",			NAME="net/%k"

# raw devices
KERNEL=="raw[0-9]*",		NAME="raw/%k"

# Add generic symbolic links for CDROMs and DVDs.
KERNEL=="hd[a-z]",  ACTION=="add", IMPORT="/lib/udev/cdrom_id --export $tempnode"
KERNEL=="sr[0-9]*", ACTION=="add", IMPORT="/lib/udev/cdrom_id --export $tempnode"
ENV{ID_CDROM}=="?*",     SYMLINK+="cdrom cdrom-%k"
ENV{ID_CDROM_DVD}=="?*", SYMLINK+="dvd dvd-%k"

# Add label based symbolic link for USB hard drives and flash drives.
KERNEL=="sd[a-z]*", PROGRAM=="/lib/udev/vol_id -l %N", SYMLINK+="%c"

# Create/delete the mount points and (in some cases) mount/unmount the devices.
KERNEL=="hd[a-z]*", ACTION=="add"   , RUN+="/lib/udev/mm_mountpoint_make %k add"
KERNEL=="hd[a-z]*", ACTION=="remove", RUN+="/lib/udev/mm_mountpoint_make %k remove"

KERNEL=="sd[a-z]*", ACTION=="add"   , RUN+="/lib/udev/mm_mountpoint_make %k add"
KERNEL=="sd[a-z]*", ACTION=="remove", RUN+="/lib/udev/mm_mountpoint_make %k remove"

KERNEL=="sr[0-9]*", ACTION=="add"   , RUN+="/lib/udev/mm_mountpoint_make %k add"
KERNEL=="sr[0-9]*", ACTION=="remove", RUN+="/lib/udev/mm_mountpoint_make %k remove"
