div.status
{
    width : 450px;
    border-top : 1px solid #000000;
    border-right : 1px solid #000000;
    border-bottom : 1px solid #000000;
    border-left : 10px solid #000000;
    padding : 10px;
    margin : 10px;
}
div.status span.temp_cool
{
    color : #00ff00;
    font-weight : bold;
}
div.status span.temp_warm
{
    color : #ff7f00;
    font-weight : bold;
}
div.status span.temp_hot
{
    color : #ff0000;
    font-weight : bold;
}
