HOST @MM_SSH_REMOTE_HOST@
	ChallengeResponseAuthentication no
	HostbasedAuthentication no
	IdentitiesOnly yes
	IdentityFile ~/.ssh/id_rsa
	PasswordAuthentication no
	Port @MM_SSH_REMOTE_PORT@
	Protocol 2
	PubkeyAuthentication yes
	StrictHostKeyChecking no
	User @MM_SSH_REMOTE_USER@

HOST *
	Ciphers aes128-cbc,aes192-cbc,aes256-cbc
