h2.status {
    font-size:18px;
    font-weight:800;
    color:#360;
    border:none;
    letter-spacing:0.3em;
    padding:0px;
    margin-bottom:10px;
    margin-top:0px;
}
div.status {
    width:450px;
    border-top:1px solid #000;
    border-right:1px solid #000;
    border-bottom:1px solid #000;
    border-left:10px solid #000;
    padding:10px;
    margin-bottom:10px;
}
span.temp_cool {
    color:green;
    font-weight:bold;
}
span.temp_warm {
    color:orange;
    font-weight:bold;
}
span.temp_hot {
    color:red;
    font-weight:bold;
}
