/******************************************************************************
 * linpvr-sidebar-hide.css
 ******************************************************************************/

/******************************************************************************
 * Hide the 'sidebar' custom element.
 ******************************************************************************/
div.side {
	display : none ;
}

div.main {
	left : 0 ;
	width : 100% ;
}
