/******************************************************************************
 * linpvr.css
 ******************************************************************************/

/******************************************************************************
 * Styles for common built-in elements.
 ******************************************************************************/
body {
	background : #ffffff ;
	color : #000000 ;
	text-align : left ;
	font : normal normal normal 10pt "Verdana", "Luxi Sans", Sans-serif ;
	margin : 0px ;
	padding : 0px ;
}
a:link , a:visited , a:active , a:hover { 
	text-decoration : none ; 
	font-weight : bold ;
}
a:link , a:visited { 
	background : #ffffff ;
	color : #0000ff ;
}
a:active , a:hover { 
	background : #ffffff ;
	color : #ff0000 ;
}
hr {
	width : 90% ;
}
pre {
	white-space : pre ;
	font-family : "Courier", "Luxi Mono", Monospace ;
}

/******************************************************************************
 * Styles for common custom elements.
 ******************************************************************************/
div.heading {
	background : #006699 ;
	color : #ffffff ;
	border : outset 5px #ffffff ;
}
div.heading a:link , div.heading a:visited , div.heading a:active , div.heading a:hover { 
	text-decoration : none ; 
	font-weight : normal ;
}
div.heading a:link , div.heading a:visited { 
	background : #006699 ;
	color : #ffffff ;
}
div.heading a:active , div.heading a:hover { 
	background : #006699 ;
	color : #ff1f1f;
}

/******************************************************************************
 * Styles for 'header' custom element.
 ******************************************************************************/
div.header {
	background : #006699 ;
	color : #ffffff ;
	height : 90px ;
}
div.header div.heading {
}
div.header div.banner {
	height : 45px ;
	border-left : solid 1px #000000 ;
	padding : 5px ;
	line-height : 35px ;
	font-size : 35px ;
}
div.header div.menu {
	height : 25px ;
}
div.header div.menu div.menuItem {
	background : #006699 ;
	color : #000000 ;
	float : left ;
	border-left : solid 1px #000000 ;
	padding : 0px 5px 0px 5px ;
	text-align : center ;
	line-height : 25px ;
	font-variant : small-caps ;
	font-size : 21px ;
}
div.header div.watermark {
	background : #006699 ;
	color : #ffffff ;
	position : absolute ;
	top : 5px;
	right : 5px;
	padding : 5px ;
	text-align : right ;
}

/******************************************************************************
 * Styles for 'middle' custom element.
 ******************************************************************************/
div.middle {
	padding : 5px 155px 5px 5px ;
}
div.middle div.heading {
	padding : 0.125em 5px 0.125em 5px ;
	font-size : 20pt ;
}
div.middle div.section {
	padding : 5px ;
}
div.middle div.section div.heading {
	padding : 0.125em 5px 0.125em 5px ;
	font-size : 14pt ;
}

/******************************************************************************
 * Styles for 'footer' custom element.
 ******************************************************************************/
div.footer {
	padding : 5px 155px 5px 5px ;
	text-align : center ;
}

/******************************************************************************
 * Styles for 'sidebar' custom element.
 ******************************************************************************/
div.sidebar {
	position : absolute ;
	top : 90px ;
	right : 0px ;
	width : 130px ;
	margin : 5px ;
	padding : 5px ;
	border : 1px solid #000000 ;
	text-align : center ;
}
div.sidebar img {
	border : none ;
	margin-bottom : 5px ;
}
