# Detect LCDproc devices.
ACTION=="add|remove", SUBSYSTEM=="lcd", SUBSYSTEMS=="usb", RUN+="/lib/udev/mm_lcdproc $sysfs{idVendor} $sysfs{idProduct}"
ACTION=="add|remove", SUBSYSTEM=="tty", SUBSYSTEMS=="usb", RUN+="/lib/udev/mm_lcdproc $sysfs{idVendor} $sysfs{idProduct}"

# Detect LIRC devices.
ACTION=="add|remove", SUBSYSTEM=="lirc", SUBSYSTEMS=="usb", RUN+="/lib/udev/mm_lirc $sysfs{idVendor} $sysfs{idProduct}"
