/******************************************************************************
 * linpvr-sidebar-hide.css
 ******************************************************************************/

/******************************************************************************
 * Hide the 'sidebar' custom element.
 ******************************************************************************/
div.sidebar {
	display: none ;
}

/******************************************************************************
 * The 'middle' and 'footer' right padding so that the space freed by hiding
 * the 'sidebar' is not wasted.
 ******************************************************************************/
div.middle {
	padding-right : 5px ;
}
div.footer {
	padding-right : 5px ;
}
