html {
	font : normal normal normal 10pt verdana, sans-serif;
	color : #000000;
	background : #ffffff;
	margin : 0px;
	padding : 0px;
}
body {
	font : normal normal normal 10pt verdana, sans-serif;
	color : #000000;
	background : #ffffff;
	margin : 0px;
	padding : 0px;
}
a:link { 
	text-decoration : none; 
	color : #3f3fff;
	font-weight : bold
}
a:visited { 
	text-decoration : none; 
	color : #3f3fff;
	font-weight : bold
}
a:hover { 
	text-decoration : none; 
	color : #ff1f1f;
	font-weight : bold
}
a:active { 
	text-decoration : none; 
	color : #ff1f1f;
	font-weight : bold
}
hr {
	width : 90%;
}
div.container {
	margin : 10px;
	width : 750px;
}
div.watermark {
	position : absolute;
	top : 10px;
	width : 750px;
	text-align : right
}
div.header {
	margin : 0px;
	padding : 0px;
}
div.banner {
	background : #ffffff url(../image/linpvr-banner.gif) no-repeat bottom left;
	margin : 0px;
	padding-right : 100px;
	height : 165px;
	text-align : right;
}
div.sitemenu {
        position : absolute;
        top : 155px;
        left : 175px;
}
span.siteMenuItem {
        background : url("../image/linpvr-tab.gif") no-repeat top left;
	margin : -6px;
        height : 20px;
	padding : 3px 5px 0px 18px;
}
span.siteMenuItem a:link {
	text-decoration : none; 
	color : #ffffff;
	font-weight : bold
}
span.siteMenuItem a:visited {
	text-decoration : none; 
	color : #ffffff;
	font-weight : bold
}
span.siteMenuItem a:hover {
	text-decoration : none; 
	color : #ff0f0f;
	font-weight : bold
}
span.siteMenuItem a:active {
	text-decoration : none; 
	color : #ff0f0f;
	font-weight : bold
}
span.siteMenuItem a.active:link {
	text-decoration : none; 
	color : #000000;
	font-weight : bold
}
span.siteMenuItem a.active:visited {
	text-decoration : none; 
	color : #000000;
	font-weight : bold
}
span.siteMenuItem a.active:hover {
	text-decoration : none; 
	color : #ff0f0f;
	font-weight : bold
}
span.siteMenuItem a.active:active {
	text-decoration : none; 
	color : #ff0f0f;
	font-weight : bold
}
div.pagebody {
	background : #f3f3f3 url(../image/linpvr-pagebody.gif) repeat-x top;
	margin : 0px;
	padding : 0px;
	width : 750px;
	min-height : 500px;
}
div.content {
	width : 580px;
	min-height : 425px;
	padding : 5px;
}
div.contentheader {
	font : normal normal normal 18pt verdana, sans-serif;
	color : #ffffff;
	background : url(../image/linpvr-subjectheader.gif) no-repeat top left;
	padding-top : 4px;
	padding-left : 35px;
	height : 38px;
}
div.contentitem {
	padding : 10px;
}
div.contentitemheader {
	color : #ffffff;
	background : #296b8a;
	width : 100%;
	height : 20px;
	padding-left : 2px;
	font : normal normal bold 12pt verdana, sans-serif;
}
div.sidebar {
	position : absolute;
	top : 185px;
	left : 600px;
	padding-top : 10px;
	padding-bottom : 10px;
	width : 150px;
	border : 1px solid #000000;
	text-align : center;
}
div.sidebar img {
	border : none;
	margin : 3px;
}
div.footer {
	padding-top : 10px;
	color : #000000;
	height : 75px;
	width : 600px;
	text-align : center;
}
